*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: grey;
    line-height: 1.5em;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
.header-wrap{
    display: flex;
    justify-content: center;
}
.header-image{
    display: flex;
    justify-content: center;
    background-image: url('../images/bg-header-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px; 
    position: absolute;
}
.heading{
    position: relative;
    width: 50%;
    display: flex;
    text-align: center;
    padding-top: 8em;
}
.heading-content h1{
    color: rgb(73, 67, 67);
    font-size: 40px;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
}
.heading-content p{
    font-size: 20px;
    padding-bottom: 2em;
}
.ios{
    /* display: flex; */
    padding: 1em 2em;
    background-color: rgb(56, 197, 185, 0.8);
    /* border: 1px solid rgb(56, 197, 185); */
    border-radius: 40px;
    color: white;
    margin-right: 20px;
}
a.ios:hover{
    box-shadow: 5px 5px 5px 5px rgb(56, 197, 185, 0.3) ;
    background-color: rgb(56, 197, 185, 0.7)
}
a.mac:hover{
    box-shadow: 5px 5px 5px 5px  rgba(105, 73, 221, 0.3) ;
    background-color: rgba(105, 73, 221, 0.7);

}
.mac{
    /* display: flex; */
    /* justify-content: left; */
    padding: 1em 2em;
    background-color: rgba(105, 73, 221, 0.8);
    /* border: 1px solid rgb(105, 73, 221); */
    border-radius: 40px;
    color: white;
}
.device-links{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    /* width: 60%; */
}


/* section B: keep track of your snippets */
.snippets-wrap{
    display: flex;
    justify-content: center;
}
.snippets-content{
    text-align: center;
}
.snippets-content h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 1em;
    color: rgb(73, 67, 67);
    
}
.snippets-content p{
font-size: 18px;
}

.tv-one-section{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.device-one-content{
    width: 40%;
    margin-left: 50px;
}
.device-one-text{
    padding: 2em 2em;
    flex-direction: column;
}

.device-one-text h3{
    font-weight: bold;
    color: rgb(73, 67, 67);

}
.device-one-text p{
    font-size: 18px;
}
.tv-one-section img{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    /* margin: auto; */
}


/* scetion C */
.access-wrap{
    /* width: 50%; */
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.access-content{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.access-text{
    text-align: center;
    width: 60%;
    margin: auto;
}
.access-text h3{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 1em;
    color: rgb(73, 67, 67);
    
}
.access-text p{
font-size: 18px;
padding-bottom: 1em;
}

.access-wrap img{
    width: 60%;
    height: auto;
}


/* section D: supercharge your workflow */
.supercharge-wrap, .clipboard-wrap{
    display: flex;
    justify-content: center;
}
.supercharge-content{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.supercharge-content h4{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1em;
    color: rgb(73, 67, 67);
}
.supercharge-content p{
    font-size: 18px;
}
.supercharge-list{
    /* width: 50%; */
    padding: 5em ;
    display: flex;
    justify-content: center;
}
.list{
    /* width: 25%; */
    max-width: 700px;
    padding: 2em;
    text-align: center;
}
.list h5{
    font-size: 22px;
    color:rgb(73, 67, 67);
}
.list p{
    font-size: 18px;
}
.list img{
    width: 10%;
    margin-bottom: 15px;
}


/* section E */
.tech-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.tech-contents img{
    padding: 1.5em;
    /* padding-right: 5em; */
    
}


/* section F */
.clipboard-wrap{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.clipboard-content h5{
    color: rgb(73, 67, 67);
    font-size: 25px;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
}
.clipboard-content p{
    font-size: 18px;
    padding-bottom: 2em;
}

footer{
    background-color: rgba(56, 197, 185, 0.050);

}
.footer{
    display: flex;
    justify-content: center;
    padding: 2em 5em;
    /* justify-content: center; */
}
footer  a:hover{
    color:rgb(56, 197, 185) ;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
.footer-wrap ul{
    margin-left: 50px;
}
.footer-wrap img{
    width: 50%;
}

.social-icons{
    display: flex;
    justify-content: flex-end;
}
.social-icons img{
    margin-left: 15px;
}
.outline {
    /* display: inline; */
    font-size: 12px;
    width: 100%;
    margin: auto;
    /* justify-content: center; */
    text-align: center;
}
